@{
    ViewData["Title"] = "Parola Sıfırlandı";
}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="alert alert-success">
      Parolanız başarıyla güncellendi. Yeni parolanızla oturum açabilirsiniz.
    </div>
    <a asp-action="Login" class="btn btn-primary">Giriş sayfasına dön</a>
  </div>
</div>
