@model WebUI.Models.JobTitle
@{
  ViewData["Title"] = "Unvan Düzenle";
}
<h3>Unvan Düzenle</h3>
<form asp-action="Edit" method="post" class="row g-3">
  @Html.AntiForgeryToken()
  <input type="hidden" asp-for="Id" />
  <div class="col-md-6">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="col-12">
    <button class="btn btn-success">Güncelle</button>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
  </div>
</form>
<partial name="_ValidationScriptsPartial" />
