@model WebUI.Models.Document
@{
    ViewData["Title"] = "Döküman Sil";
}
<h3>Döküman Sil</h3>
<hr />
<div class="alert alert-warning">
  <strong>@Model.FileName</strong> Dökümanını silmek üzeresiniz. Emin misiniz?
</div>

<form asp-action="Delete" method="post">
  <input type="hidden" asp-for="Id" />
  <button type="submit" class="btn btn-danger">Evet, Sil</button>
  <a asp-action="Index" class="btn btn-secondary">Vazgeç</a>
</form>
